{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col s12 m8">
	<h1>{% trans "Sign Out" %}</h1>

	<p>{% trans 'Are you sure you want to sign out?' %}</p>

	<form method="post" action="{% url 'account_logout' %}">
		{% csrf_token %}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		{% endif %}
		<button class="btn btn-primary" type="submit" name="action">
			{% trans "Sign out" %}
		</button>
	</form>
</div>

{% endblock %}
{% block side_section %}
{% endblock side_section %}