{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="jumbotron">
			<h2>FOSSASIA Events</h2>
			<p><strong>FOSSASIA</strong> is a non-profit organization supporting developers and makers of Free and Open Source technologies. It was founded by Hong Phuc Dang and Mario Behling. The aim of FOSSASIA is to develop and adapt open technologies for social change with a focus on Asian users. The FOSSASIA Summit takes place annually one month after the Lunar New Year. Projects at FOSSASIA range from open hardware, to design, graphics and software.</p>
			<p>The FOSSASIA Summit is the top Free and Open Source technology event in Asia for developers, start-ups, and contributors. It is a unique opportunity to share knowledge and experience about open source technologies and meet interesting contributors. FOSSASIA was established in the year 2009. Previous events took place in Cambodia and Vietnam.</p>
		</div>
	</div>
{% endblock content %}